.media-container {
  margin-bottom: 12px;
  max-height: 300px;
  border: 1px #dee2e6 solid;
  border-radius: 6px;
  overflow-y: auto;
}

.media-container .media {
  position: relative;
  width: calc(100% - 8px);
  margin: 4px;
}

.media-container .media img,
.media-container .media video {
  width: 100%;
  border-radius: 6px;
}
.media-container .media .video-preview {
  background-color: gray;
  border-radius: 6px;
  text-align: center;
  color: #000;
}

.media-container .media .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: #c6c3c3;
  border-radius: 100%;
  box-shadow: 0 0 1px #c6c3c3;
  cursor: pointer;
}

.add-media {
  padding: 4px;
  border: 1px #dee2e6 solid;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-media .btn-add-file {
  background-color: rgb(0, 175, 17);
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}
